*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container{
    height: 700px;
    display: flex;

    flex-direction: column;
    background-color: #b9b9b9;

    /* To Mehvar Asli */
    justify-content: center;
    /* To Mehvar Gheyr Asli */
    align-items: center;
}

.item{
    width: 100px;
    height: 100px;
    color: #fff;
    background-color: #254de4;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-of-type(1){
    
}
.item:nth-of-type(2){
    
}
.item:nth-of-type(3){
   
}